
usercache.json
usernamecache.json
copy.ps1
crafttweaker.log
options.txt
optionsof.txt

/.mixin.out
/bendspacks
/cachedImages
/coremods
/crash-reports
/dumps
/llibrary
/logs
/patchouli_books
/resourcepacks
/saves
/screenshots
/server-resource-packs
/shaderpacks
/texturepacks
